* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}
.main-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url("images/poker.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 7px 10px 17px -5px rgb(0, 0, 0);
}
.header {
  background-color: RGBA(0, 98, 255, 0.7);
  height: 20vh;
  width: 60vw;
}
.container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
}

.player-point {
  background-color: RGBA(0, 98, 255, 0.7);
  width: 15vw;
  margin-left: 14vh;
}
.player--0 {
  background-color: rgba(15, 3, 3, 0.4);
  height: 60vh;
  width: 30vw;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 60vh;
  width: 30vw;
  background-color: rgba(168, 156, 156, 0.4);
}
.player--1 {
  background-color: rgba(15, 3, 3, 0.4);
  height: 60vh;
  width: 30vw;
}
.die {
  position: absolute;
  height: 30vh;
  width: 15vw;
  top: 10vh;
  background-color: white;
  left: 21.5vw;
  object-fit: cover;
  background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
  background-color: #007dc1;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
}

.p-header {
  color: white;
  font-size: 2rem;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
}
.p-pts {
  color: white;
  font-size: 4rem;
  text-align: center;
  padding-top: 3vh;
}
.reset-btn {
  position: absolute;
  right: 11vw;
  bottom: 5vh;
}
.keep-btn {
  position: absolute;
  right: 24vw;
  bottom: 5vh;
}
.roll-btn {
  position: absolute;
  left: 10vw;
  bottom: 5vh;
}
.dice-img {
  object-fit: cover;
  width: 10vw;
  height: 20vh;
}
.side-img {
  position: absolute;
}
.girl-img {
  bottom: 0;
  left: 0;
}
.sideImage {
  width: auto;
  z-index: 10;
}

.btn {
  box-shadow: inset 1px 0px 0px 0px #54a3f7;
  background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
  background-color: #007dc1;
  border-radius: 2px;
  border: 1px solid #124d77;
  cursor: pointer;
  color: #ffffff;
  font-family: Georgia;
  font-size: 14px;
  font-weight: bold;
  padding: 15px 30px;
  text-shadow: 0px 1px 50px #154682;
}
.btn:hover {
  background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
  background-color: #0061a7;
}
